<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<!--  session factory properties configure amazon rds connection using url, username, password, and oracle driver
	dialect which was chosen on RDS settings is Oracle 11g, 2nd level cache is provided for sessionfactory level memory -->
		<property name="hibernate.connection.url">
		jdbc:oracle:thin:@accountdb.cyai9rb3tqzc.us-east-2.rds.amazonaws.com:1521:ORCL
		</property>
		<property name="hibernate.connection.username">
		ataylor8294
		</property>
		
		<property name="hibernate.connection.password">
		ataylor8294
		</property>
		<property name="hibernate.connection.driver_class">
		oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="hibernate.show_sql">
			false
		</property>
		<property name="hibernate.cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<property name="hibernate.hbm2ddl.auto">
			update
		</property>
		<!-- mapping class for hibernate to link -->
		<mapping class="com.infosys.beans.Account"></mapping>
	</session-factory>
</hibernate-configuration>